<nav class="flex justify-between align-center px-6 py-4 border-b border-gray-800">
  <a routerLink="" class="text-2xl font-black text-white">Mosaic</a>
  <ul class="flex align-center gap-5">
    <li><app-nav-link routerLink="home">Home</app-nav-link></li>
    <li><app-nav-link routerLink="home">List</app-nav-link></li>
    <li><app-nav-link routerLink="home">Create</app-nav-link></li>
  </ul>
  <div class="flex gap-5">
    <a href="https://github.com/MintMissy"><app-icon iconCode="bi-github"></app-icon></a>
    <app-icon
      (click)="themeClick.emit()"
      [iconCode]="theme === 'light' ? 'bi-moon-fill' : 'bi-brightness-high-fill'"
    ></app-icon>
  </div>
</nav>
